{% extends 'base.html.twig' %}

{% block body %}
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at,
    beatae facere ipsa, itaque natus nesciunt nobis numquam officia sequi similique tenetur.
    At, dolorum nulla perferendis quas quis saepe tempore.</h1>
{% endblock %}

{% block title %}
{{ parent() }} | About Us
{% endblock %}

