{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | DBZ {% endblock %}
{% block body %}
    <h1>Fatal Error!!!</h1>
    <img src="{{ asset('img/fuck-you-trunks.gif') }}" alt="">

{% endblock %}