{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Home {% endblock %}

{% block body %}
    <h1>Bonjour</h1>
    <img src="{{ asset('img/kamehamehagokuvegeta.gif') }}" alt="">

{% endblock %}