<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('main_DBZ') }}">DBZ</a></li>
        <li><a href="{{ path('main_about_us') }}">About-Us</a></li>
        <li><a href="{{ path('wish_list') }}">List</a></li>


    </ul>
</nav>